.proposalsTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.proposalsTable th {
  padding: 8px;
  text-align: center;
}

.proposalsTable td {
  padding: 8px;
  text-align: center;
}

.leftAlign {
  text-align: left;
}

.centerAlign {
  text-align: center;
}

.styledTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledTable thead tr {
  background-color: dodgerblue;
  color: #ffffff;
  text-align: left;
}

.styledTable th,
.styledTable td {
  padding: 12px 15px;
}

.styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type() {
  background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
  border-bottom: 2px solid dodgerblue;
}

.styledTable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.buttonField {
  border-radius: 0.25rem;
  background-color: dodgerblue;
  padding: 0.3rem;
  font-size: small;
  box-shadow: aliceblue;
  border-color: none;
}
